@import '../../styles/variables.module';

#mainWrapper {
  border: 3px $main-green solid;
  border-radius: 16px;
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  #topWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    text-align: center;
    #tariff {
      color: $off-white;
      padding: 15px 30px;
      background: $off-black;

      border-radius: 100px;
    }
    #price {
      color: $off-white;
      // padding: 15px 30px;
      // background: $off-black;
      // border-radius: 16px;
      line-height: 100%;
      align-self: center;
    }
  }
  ul {
    color: $off-white;
    margin-bottom: 30px;
    text-align: center;
    list-style: none;
    padding: 0;
    li {
      margin: 10px 0;
    }
  }
  #button {
    color: $black;
    border-radius: 16px;
    background: $main-green;
    padding: 15px 30px;
    border: none;
    cursor: pointer;

    margin-top: auto;
    transition: 0.3s;
    &:hover {
      scale: 1.1;
      box-shadow: 0px 3px 16px 0px rgba(105, 254, 139, 0.2);
    }
  }
}
