#mainWrapper {
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  position: relative;
  #masked {
  }
}
#radar {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50.1% 47.34%,
    #69fe8b 0deg,
    #3c8558 6.44deg,
    rgba(35, 41, 50, 0) 65.61deg,
    rgba(35, 41, 50, 0) 358.4deg,
    #69fe8b 360deg
  );
}
