@import "../../styles/variables.module";

#servicesMobileWrapper{
  
  padding: 0 $page-padding;
  visibility: hidden;
  display: none;
  @include breakpoint(937px) {
    visibility: visible;
    display: block;
  }
}
#servicesMainWrapper {
  padding: 0 $page-padding;
  display: flex;
  flex-direction: column;
 
  @include breakpoint(937px) {
    visibility: hidden;
    display: none;
  }
  #servicesBtnGrid {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(max(230px, 20%), 1fr));
    //grid-template-rows: repeat(auto-fit,100%);
    grid-gap: 30px;
    column-gap: 30px;

    .checkedServiceBtn {
      div {
        transition: 0.5;
        background-color: $main-green;
      }
      h4 {
        color: $black;
      }
    }

    .servicesBtn {
      cursor: pointer;
    }

    #contactCard {
      background-color: $off-black;
      border-radius: 16px;
      padding: 20px;
      display: flex;
      flex-direction: column;

      @include breakpoint(1262px) {
        grid-column: span 2;
      }
      @include breakpoint(937px) {
        grid-column: span 1;
      }

      #contactCardBtn {
        display: block;
        text-align: center;
        border: none;
        color: $off-white;
        background-color: $black;
        border-radius: 16px;
        padding: 20px 40px;
        //  position: relative;
        &:hover {
          box-shadow: 0 0 32px 0px rgba(105, 254, 139, 0.15);
        }
      }
      #title {
        //  position: relative;
        font-size: 47px;
        margin-top: 20px;
        color: $off-white;
        line-height: 50px;
        z-index: 1;
        pointer-events: none;
      }
    }
  }
  .paragraphs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
