@import "../../styles/variables.module";

#mainWrapperServicesSection {
  z-index: 1;
  margin-top: 180px;
  width: calc(100vw - calc($page-padding * 2));

  #servicesTitle {
    color: $off-white;
    margin-bottom: 60px;
  }
  #servicesWrapper {
    .servicesParagraphSmaller {
      color: $off-white;

      @media (min-width: 1365px) {
        display: none;
      }
    }

    .serviceCardsContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 30px;

      .servicesParagraphBigger {
        color: $off-white;

        @media (max-width: 1365px) {
          display: none;
        }
      }
    }
  }
}
