@import '../../styles/variables.module';

#mainWrapperServicesSection {
  z-index: 1;
  margin: 0 auto;
  #servicesTitle {
    color: $off-white;
    margin-bottom: 60px;
  }
  #servicesWrapper {
    .servicesParagraphSmaller {
      color: $off-white;
      margin-bottom: 50px;
      @media (min-width: 1365px) {
        display: none;
      }
    }

    .serviceCardsContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: 300px;
      grid-gap: 30px;

      .servicesParagraphBigger {
        color: $off-white;

        @media (max-width: 1365px) {
          display: none;
        }
      }
    }
  }
}
