@import '../../styles/variables.module';
// #labhero {
//   pointer-events: none;
// }
#titles {
  pointer-events: none;

  height: 70vh;
  width: 100%;
  text-align: center;
  color: $off-white;
  padding-top: 10%;
  z-index: 5;
  h1 {
    margin-bottom: 20px;
  }
}
