@import '../../styles/variables.module';

#rtwBtnBackground {
  // margin-top: 180px; // using flex-gap instead of margin (loot at home.module)

  height: 450px;
  width: 100vw;
  background-color: $main-green;
  // @media (max-width: map-get($breakpoints, "mobileL")) {
  //   height: 90vh;
  // }
  margin-bottom: 100px;

  #rtwBtnContainer {
    position: relative;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;

    //opacity: 0.8;
    .rtwImgWrapper {
      position: absolute;
      margin: auto;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      height: 32px;
      width: 32px;
    }
    img {
      filter: $main-green-filter;
      width: auto;
      height: 100%;
    }
  }

  #rtwBtn {
    cursor: pointer;
    z-index: 2;
    margin: 0 auto;
    border: 0;
    background-color: $black;
    border-radius: 100px;
    a {
      text-align: center;
      padding: 30px 100px;
      color: $main-green;
      display: block;
      @media (max-width: 400px) {
        width: 90vw;
        padding: 20px 0px;
      }
    }

    #rtwBtnText {
      color: $main-green;
    }
  }
}
