@import "../../styles/variables.module";

#rtwBtnBackground {
  // margin-top: 180px; // using flex-gap instead of margin (loot at home.module)
  position: relative;
  height: 450px;
  width: 100vw;
  background-color: $main-green;
  // @media (max-width: map-get($breakpoints, "mobileL")) {
  //   height: 90vh;
  // }

  #rtwBtnContainer {
    position: relative;
    height: 100%;
    overflow: hidden;
    align-items: center;
    background: radial-gradient(
      25.8% 50% at 50% 50%,
      rgba(35, 41, 50, 0.8) 0%,
      rgba(105, 254, 139, 0) 100%
    );
    opacity: 0.8;
    #rtwImgWrapper {
      position: absolute;
      margin: auto;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      height: 32px;
      width: 32px;
    }
    img {
      filter: $main-green-filter;
      width: auto;
      height: 100%;
    }
  }

  #rtwBtn {
    cursor: pointer;
    position: absolute;
    color: $main-green;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 30px 100px;

    background-color: $black;
    border-radius: 100px;
    text-align: center;
    border: 0;
    @media (max-width: map-get($breakpoints, "tablet")) {
      padding: 30px 0;
      border-radius: 100px;
      width: 90vw;
    }

    #rtwBtnText {
      color: $main-green;
    }
  }
}
