@import "../../styles/variables.module";

#borderAround {
  border: 3px $main-green solid;
  border-radius: 26px;
  width: min-content;
  padding: 10px;
  #mainWrapper {
    width: 195px;
    height: 195px;
    border: 1.5px $main-green solid;
    border-radius: 16px;
    position: relative;
    #scaleImg {
      position: absolute;
    }
    #imgWrapper {
      width: 100%;
      height: 100%;
      position: relative;
      bottom: 0%;
      display: flex;
      align-items: center;
      text-align: center;
    }
    #needleImg {
      margin: auto;
      filter: $main-green-filter;
    }
  }
}
#title {
  margin-top: 20px;
  color: $off-white;
  text-align: center;
}
