@import '../../styles/variables.module';
@import '../../styles/breakpoints.module';
#main {
  width: 100%;
  margin-top: 36px;
  // display: flex;
  // align-items: center;
  // margin-top: 36px;
}

#border {
  margin-left: auto;
  border-width: 0px 4px 4px 0px;
  border-style: solid;
  border-color: $main-green;
  border-radius: 28px;
  width: calc(50% - 15px);
  padding: 0px 12px 12px 0px;
  // margin-top: 36px;
  position: relative;
  #wrapper {
    background-color: rgba(105, 254, 174, 0.1);
    border-radius: 0 16px 16px 16px;
    padding: 20px;
    border: #006e51 5px solid;
    color: $off-white;
  }
  #stepNum {
    position: absolute;
    background-color: #006e51;
    display: flex;
    align-items: center;
    padding: 3px 20px;
    border-radius: 16px 16px 0 0;
    height: 30px;
    left: 0px;
    top: -36px;
    color: $off-white;
  }
  #arrow {
    position: absolute;
    height: calc(50% + 35px);
    top: 50%;
    right: 100%;
    width: 50%;
    border-width: 10px 0px 0px 10px;
    border-style: solid;
    border-color: $main-green;
    border-radius: 50px 0px 0 0;
    opacity: 0.2;
  }
  @media (max-width: 800px) {
    width: 100%;
    margin-bottom: 69px;
    #arrow {
      border-width: 0px 0px 0px 0px;
      border-radius: 0;
      width: 10px;
      height: 70px;
      background-color: $main-green;
      bottom: 0;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      margin-top: 3px;
    }
  }
}
