@import "../../styles/variables.module";
@import "../../styles/breakpoints.module";

#mainContainer {
  // margin-top: 180px; // using flex-gap instead of margin (loot at home.module)
  width: calc(100vw - calc($page-padding * 2));

  #techTitle {
    color: $off-white;
    margin-bottom: 60px;

    @media (max-width: 580px) {
      margin-bottom: 30px;
    }
  }

  #techParagraph {
    // margin-bottom: 60px;
    color: $off-white;

    @media (max-width: 580px) {
      margin-bottom: 30px;
    }
  }

  #flex {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;

    #leftContainer {
      z-index: 1;
      width: 50%;

      @media (max-width: 580px) {
        width: 100%;
      }

      #techCardsWrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-template-rows: repeat(2, 158px);
        grid-gap: 30px;

        @media (max-width: 580px) {
          grid-template-columns: repeat(1, 250px);
          grid-template-rows: repeat(4, 250px);
          justify-content: center;
        }
      }
    }
    #rightContainer {
      z-index: 0;
      width: 50%;
      // position: relative;
      right: 0;

      @media (max-width: 580px) {
        display: none;
      }

      #techRadarGif {
        width: 200%;
        height: auto;
        max-width: 1100px;
        // width: 100%;
        position: relative;
        right: 25%;
      }
    }
  }
}
