@import '../../styles/variables.module';
@import '../../styles/breakpoints.module';

#mainContainer {
  #techTitle {
    color: $off-white;
    margin-bottom: 60px;

    @media (max-width: 580px) {
      margin-bottom: 30px;
    }
  }

  #techParagraph {
    margin-bottom: 60px;
    color: $off-white;

    @media (max-width: 580px) {
      margin-bottom: 30px;
    }
  }

  #flex {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    @media (max-width: 600px) {
      flex-direction: column;
    }

    #leftContainer {
      z-index: 1;
      width: 50%;

      @media (max-width: 600px) {
        width: 100%;
      }

      #techCardsWrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(min(100px, 100%), 1fr));
        grid-template-rows: repeat(2, minmax(100px, 150px));
        grid-gap: 30px;

        // @media (max-width: 580px) {
        //   grid-template-columns: repeat(1, 250px);
        //   grid-template-rows: repeat(4, 250px);
        //   justify-content: center;
        // }
      }
    }
    #rightContainer {
      z-index: 0;
      width: 50%;
      // position: relative;
      //  right: 0;

      @media (max-width: 600px) {
        width: 100vw;

        height: auto;
        align-items: center;
        text-align: center;
      }

      #techRadarGif {
        width: 200%;
        height: auto;
        max-width: 1100px;
        // width: 100%;
        position: relative;
        right: 25%;

        @media (max-width: 600px) {
          margin-top: -30%;
          width: 100%;
          position: inherit;
        }
      }
    }
  }
}
