@import "../../styles/variables.module";

#mainWrapperBtn {
  background-color: $off-black;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  padding: 20px;
  height: 170px;
  overflow: hidden;
  flex-basis: 20%;

  &:hover {
    box-shadow: 0 0 32px 0px rgba(105, 254, 139, 0.15);
  }

  #titleBtn {
    height: auto;
    position: relative;
    margin-top: 20px;
    color: $off-white;
    font-size: 50px;
    line-height: 50px;
    z-index: 1;
    width: 40%;
  }

  #imgBtn {
    filter: $black-filter;
  }
  #arrow {
    height: 3px;
    width: 30px;
    background-color: $main-green;
    position: absolute;
    bottom: 40px;

    border-radius: 1.5px;
  }
}
