@import '../../styles/variables.module';
@import '../../styles/breakpoints.module';

#footerMainWrapper {
  padding: 0 $page-padding;
  margin: 100px auto;
  display: flex;
  max-width: 1400px;
  @media (max-width: map-get($breakpoints, 'tablet')) {
    flex-direction: column;
  }

  #footerLeftContainer {
    flex-basis: 50%;
    @media (max-width: map-get($breakpoints, 'tablet')) {
      display: flex;
      justify-content: center;
      gap: 30px;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 35px;
    }

    #footerLogo {
      display: flex;
      align-items: center;
      margin-bottom: 45px;
      img {
        filter: $main-green-filter;
      }

      @media (max-width: map-get($breakpoints, 'tablet')) {
        margin-bottom: 0;
      }

      h1 {
        text-transform: uppercase;
        color: $off-white;
        margin-left: 16px;
      }
    }

    #footerContact {
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: $off-white;
      @media (max-width: map-get($breakpoints, 'tablet')) {
        // flex-direction: row;
        text-align: center;

        gap: 10px;
      }

      a {
        opacity: 0.6;
        display: inline;
        text-decoration: none;
        color: $off-white;
        &:hover {
          opacity: 1;
        }
      }

      #footerSocialIcons {
        display: flex;
        gap: 10px;
        @media (max-width: map-get($breakpoints, 'tablet')) {
          justify-content: center;
        }

        a {
          img {
            height: 20px;
            width: auto;
            filter: $off-white-filter;

            &:hover {
              filter: $main-green-filter;
            }
          }
        }
      }
    }
  }

  #footerRightContainer {
    flex-basis: 50%;
    @media (max-width: map-get($breakpoints, 'tablet')) {
      display: flex;
      justify-content: center;
      gap: 10%;
    }

    #footerMenu {
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;
      flex-wrap: wrap;
      gap: 10px;
      @media (max-width: map-get($breakpoints, 'tablet')) {
        flex-direction: column;
      }

      a {
        font-size: 20px;
      }
    }
    #footerSubmenu {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;

      @media (max-width: map-get($breakpoints, 'tablet')) {
        flex-direction: column;
      }

      a {
        color: $off-white;
        opacity: 0.6;
        font-size: 12px;
        transition: 0.3s;
        &:visited {
          color: $off-white;
        }
        &:hover {
          color: $main-green;
          opacity: 1;
        }
      }
    }
  }
}
