@import '../../styles/variables.module';

.circleContact {
  .circle {
    width: 429px;
    height: 429px;
    border-radius: 50%;

    @media (max-width: 1024px) {
      width: 300px;
      height: 300px;
    }
  }

  .circleGroup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .upperCircle {
      background: conic-gradient(from 180deg at 50% 50%, #69fe8b 0deg, rgba(58, 63, 71, 0) 360deg);
      width: 428px;
      height: 428px;

      @media (max-width: 1024px) {
        width: 299px;
        height: 299px;
      }
    }

    .lowerCircle {
      background: radial-gradient(50% 50% at 50% 50%, rgba(35, 41, 50, 0) 0%, #232932 100%);
      position: absolute;
    }
  }

  .secondCircle {
    transform: rotate(-180deg);
  }

  h1 {
    position: absolute;
    left: -20px;
    color: $off-white;
    @media (max-width: 430px) {
      left: unset;
    }
  }

  .paragraphs {
    position: absolute;
    transform: rotate(-180deg);
    color: $off-white;
    right: -20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media (max-width: 430px) {
      right: unset;
    }
    a {
      color: $off-white;
      transition: 0.3s;
      &:hover {
        color: $main-green;
        img {
          filter: $main-green-filter;
        }
      }
    }
    .icons {
      display: flex;
      gap: 16px;
      img {
        width: auto;
        height: 25px;
        filter: $off-white-filter;
        &:hover {
        }
      }
    }
  }
}
