@import '../../styles/variables.module';

#awarenessWrapper {
  margin-bottom: 200px;

  h2 {
    color: $off-white;
    display: inline;
    z-index: 1;
  }
  #awarnessText {
    color: $off-white;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 70%;
    @media (max-width: map-get($breakpoints, 'tablet')) {
      margin-top: 100px;
    }
  }

  #sliderWrapper {
    width: 100%;
    position: relative;

    .insideWrapper {
      width: 100%;
      position: absolute;
      top: 50%;
      @media (max-width: map-get($breakpoints, 'tablet')) {
        margin-top: 10px;
        top: 100%;
      }
    }
  }

  .header {
    display: flex;
    @media (max-width: map-get($breakpoints, 'tablet')) {
      display: block;
    }
  }

  .meters {
    margin-top: 40px;
    display: grid;

    //grid-template-columns: repeat(auto-fill, minmax(max(100px, 20%), 1fr));
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    gap: 30px;

    @media (max-width: map-get($breakpoints, 'tablet')) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 50px;
      gap: 30px 15px;
    }

    .meterWrapper {
      //  flex-basis: 25%;
    }
  }
}
