@import "../../styles/variables.module";

#awarenessWrapper {
  margin: 140px 0px;
  width: calc(100vw - calc($page-padding * 2));

  h2 {
    color: $off-white;
    display: inline;
    z-index: 1;
  }

  #sliderWrapper {
    width: 100%;
    position: relative;

    .insideWrapper {
      width: 100%;
      position: absolute;
      top: 50%;
    }
  }

  .flexBox {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;

    .meterWrapper {
      //  flex-basis: 25%;
    }
  }
}
