@import "../../styles/variables.module";

#awarenessWrapper {
  // margin: 140px 0px; // using flex-gap instead of margin (loot at home.module)
  width: calc(100vw - calc($page-padding * 2));

  h2 {
    color: $off-white;
    display: inline;
    z-index: 1;
  }

  #sliderWrapper {
    width: 100%;
    position: relative;

    .insideWrapper {
      width: 100%;
      position: absolute;
      top: 50%;
      @media (max-width: map-get($breakpoints, "tablet")) {
        margin-top: 10px;
        top: 100%;
      }
    }
  }

  .header {
    display: flex;
    @media (max-width: map-get($breakpoints, "tablet")) {
      display: block;
    }
  }

  .meters {
    margin-top: 40px;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(max(100px, 20%), 1fr));
    justify-content: space-evenly;
    gap: 30px;

    @media (max-width: map-get($breakpoints, "tablet")) {
      margin-top: 100px;
      gap: 30px 15px;
    }

    .meterWrapper {
      //  flex-basis: 25%;
    }
  }
}
