@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
@import "./breakpoints.module";

// colors
$off-white: #eeeeee;
$off-black: #3a3f47;
$black: #232932;
$main-green: #69fe8b;

// common values
$page-padding: 10vw;
$stats-padding: 1.357vw;
